.C1,
.C2 {
  color: #f6f7fa;
}

.C1,
.C2 {
  font-family: "Poppins", sans-serif;
  font-size: 37pt;
  font-weight: bold;
}

.C3 {
  font-family: "Raleway", sans-serif;
  color: #eeeeee;
  font-size: 12pt;
  letter-spacing: 1px;
}

.Phone {
  border-radius: 5px;
  max-width: 90%;
  height: auto;
}

.Socmed {
  margin-left: -10%;
  color: #eeeeee;
  font-size: 14pt;
  text-decoration: none;
}

.Icon {
  text-decoration: none;
  color: #f97e5d;
}

.Icon:hover {
  text-decoration: none;
  color: #c26348;
}
