.Brand-text {
  font-family: "Satisfy", cursive;
  font-size: 20pt;
  color: #f6f7fa;
}

.Nav-text {
  font-family: "Open Sans", sans-serif;
  color: #f6f7fa;
}

.Hire-me {
  background-color: #f97e5d !important;
  border-color: #f97e5d !important;
}
