.Me {
  max-width: 100%;
  height: auto;
}

.Title {
  color: #f6f7fa;
}

.P1 {
  font-family: "Poppins", sans-serif;
  font-size: 17pt;
}

.P2 {
  font-family: "Poppins", sans-serif;
  font-size: 37pt;
  font-weight: bold;
}

.P3 {
  margin-top: -20px;
  font-size: 17pt;
}

.P4 {
  font-family: "Raleway", sans-serif;
}

.Hire-me {
  background-color: #f97e5d !important;
  border-color: #f97e5d !important;
}
